name: DevSecOps CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  security:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Semgrep (SAST)
        uses: returntocorp/semgrep-action@v1
        with:
          config: "p/default"
        continue-on-error: true

      - name: Scan secrets with Gitleaks
        uses: gitleaks/gitleaks-action@v2

      - name: Pipeline test
        run: echo "✅ SAST et Secrets scan terminés"
