name: DevSecOps CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  security:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Semgrep (SAST)
        uses: returntocorp/semgrep-action@v1
        with:
          config: "p/default"
        continue-on-error: true

      - name: Scan secrets with Gitleaks
        uses: gitleaks/gitleaks-action@v2
        continue-on-error: true

      - name: Start Juice Shop
        run: |
          docker run -d -p 3000:3000 bkimminich/juice-shop
          sleep 30

      - name: Run OWASP ZAP (DAST)
        uses: zaproxy/action-full-scan@v0.10.0
        with:
          target: http://localhost:3000

      - name: Upload ZAP Scan Reports
        uses: actions/upload-artifact@v4
        with:
         name: zap-dast-reports
         path: |
          report_html.html
          report_json.json
          report_md.md




      - name: Pipeline test
        run: echo "✅ SAST et Secrets scan terminés"
